<!DOCTYPE html>
<html>
    <head>
        <title>Juego de número aleatorio</title>
    </head>
    <body>
        <h1>Página de juego de número aleatorio</h1>

        <form action="test.php" method="POST">
            <div>
                <label>Nombre</label>
                <input type="text" name="Nombre">
            </div>
            <br>
            <label>Número</label>
            <input type="number" name="Número">
            <br>
            <input type="submit" name="submit" value="Adivinar">


        </form>

    </body>
</html>